/* Style pour le menu */
header {
    background-color: #8b0000; /* Rouge sombre */
    padding: 15px;
}

header nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #f0e6d6; /* Texte clair */
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.1em;
    font-weight: bold;
}

nav a:hover {
    color: #d4af37; /* Texte doré au survol */
}
